body {
  font-family: "Lato", sans-serif
}

.w3-tag {
  height: 156x;
  width: 15px;
  padding: 0;
  margin-top: 6px;
  cursor: pointer
}

.para{
    border: 5px dashed rgb(41, 132, 212);
    padding: 25px;
    text-align: center;
}

.para-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}